/*CONFIGURAÇÕES INICIAIS*/
@import url("../fonts/fonts.css");
@import url("../scss/color.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color:var(--color-primary);
    color: var(--color-secondary);
}

/*CABEÇALHO DA PAGINA HTML*/
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(6, 6, 6, 0.1);
    padding: 10px 20px;
    margin: 0;
    z-index: 1000; 
}

.navigation ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-end; 
    gap:20px;
}
.nav-bar li {
    margin-right: 40px;
}

.nav-bar a {
    text-decoration: none;
    font-weight: 450;
    font-size: large;
    color: var(--color-secondary);
    padding-bottom: 5px;
    position: relative;
}
.nav-bar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2.2px;
    background-color: var(--color-white);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 2.2s;
}

.nav-bar a:hover::after {
    width: 100%;
}

/*SESSÃO INICIAL*/
#inicio {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.profile-description {
    margin: 15px;
    padding: 10px;
    width: 50%;
}

.profile-description h1 {
    margin-bottom: 5px;
    font-size: 45px;
}

.profile-description p {
    max-width:100%;
    font-weight: 600;
    font-size: 20px;
}

.text-animation {
    display: inline-block;
}

.cursor {
    display: inline-block;
    font-weight: bold;
    visibility: visible;
    color: var(--color-white);
    font-size: inherit;
}

.profile-image{
    width: 20%;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow:
        0 0 8px 1px #0000003f,
        8px 8px 16px 2px #0000003f;
    transition: box-shadow 0.3s;
}

.profile-image img:hover {
    box-shadow:
        0 0 16px 2px #0000003f,
        16px 16px 32px 4px #0000003f;
}

/* SESSÃO SOBRE */
#sobre {
    background-image: url('../assets/photos/image_sobre1.jpeg');
    border-image: fill 0 linear-gradient(#0003, #000);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    transition: background-position 0.5s ease, padding 0.5s ease;
    overflow: hidden;
    padding: 40px;
    width: 100%;
    height: 100vh;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

#sobre.expanded {
    padding: 50px 20px;
    background-position: center center;
    height: auto; /* Permite a expansão conforme o conteúdo */
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.section-image img {
    width: 500px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-description {
    max-width: 600px;
}

.header-description h1 {
    font-weight: 600;
    font-size: xx-large;
}

.header-description p {
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 30px;
}

.btn-aprofundar,
.btn-resumo {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-quarteary);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-aprofundar:hover,
.btn-resumo:hover {
    background-color: var(--color-primary);
}

/* DETALHES -- SESSÃO SOBRE */
#detalhes {
    display: none; /* Escondido inicialmente */
    margin-top: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
    position: relative; /* Garante que o botão resumo fique visível */
    height: 100vh;
}

#sobre.expanded #detalhes {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
}

/* Estilização do Carrossel */
.carousel {
    overflow: hidden;
    position: relative;
    width: 90%; /* Ajustado para ocupar uma boa parte da largura */
    margin: auto;
    text-align: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 30%; /* Ajuste para garantir que os cards laterais sejam visíveis */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.5; /* Card não selecionado */
    cursor: pointer;
    backdrop-filter: blur(10px); /* Efeito de vidro */
    background: rgba(255, 255, 255, 0.3); /* Cor de fundo com opacidade */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-item.selected {
    opacity: 1; /* Card selecionado */
    transform: scale(1.1); /* Aumenta o tamanho do card selecionado */
    z-index: 1; /* Eleva o card selecionado acima dos outros */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao card selecionado */
}

.carousel-item img {
    width: 60%;
    height: auto;
    border-radius: 8px;
}

.carousel-text {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .carousel-item img {
        width: 100%;
    }

    .carousel-text {
        width: 100%;
    }
}

/* Botão Resumo */
.btn-resumo {
    position: absolute;
    bottom: 20px;
    background-color: var(--color-quarteary);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2; /* Garante que o botão esteja acima de outros elementos */
}

.btn-resumo:hover {
    background-color: var(--color-primary);
}